@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #197246;
  }
}

@font-face {
  font-family: "Salvatore"; /*a name to be used later*/
  src: url("/public/Salvatore-Regular.ttf"); /*URL to font*/
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Salvatore", Arial, Helvetica, sans-serif;
}
